{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
    <link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    <link rel="stylesheet" href="{% static "formStyle.css" %}">
    <title>Youttify</title>
</head>

<body>
        <div class="signup_header">
            <a href="" target="_blank">
            </a>
        </div>
    <div class="form_input">
        <form class="login_form" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <span class='label signup-title center-align'>Sign up for free to start listening.</span>
            <label for="{{ form.username.id_for_label }}" class="label">
                What's your name?{% if not form.username %}
                <span style="color:#f79862;">Username already exists</span>
            {% endif %}
            </label>
        {{ form.username }}

            <label for="{{ form.email.id_for_label }}" class="label">
                What's your email?{% if not form.email %}
                <span style="color:#f79862;">Email already exists</span>
            {% endif %}
            </label>
        {{ form.email }}

            <label for="{{ form.password1.id_for_label }}" class="label">
                Create a password
            </label>
        {{ form.password1}}

            <label for="{{ form.password2.id_for_label }}" class="label">
                Confirm your password
            </label>
        {{ form.password2 }}


            <button class='btn btn_log_in' type="submit">Sign up</button>
            <div class="divider"></div>
            <p class='label center-align'>Already have an account? <a href="/login">Log in</a>.</p>
    </form>
    </div>
</body>
</html>